<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Mobile No</th>
                  <th>Email-Id</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index) {
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.mobileNo}}</td>
                    <td>{{item.emailId}}</td>
                    <td class="text-center">
                      <button class="btn btn-success" (click)="editEmployee(item)">Edit</button>
                    <button class="btn btn-danger mx-2" (click)="deleteEmployee(item.empId)">Delete</button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
     <h6>New Employee</h6>
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-12">
              <label class="required" for="">Name</label>
              <input type="text"  formControlName="name" class="form-control">
              <div class="text-danger">
                @if (employeeForm.controls['name'].touched) {
                    @if (employeeForm.controls['name'].errors?.['required']){
                      <span>Name is required</span>
                    }
                }
              </div>
            </div>
            <!-- <div class="col-6">
              <label for="">empId</label>
              <input type="text" formControlName="empId" class="form-control">
            </div> -->
            <div class="col-6">
              <label for="">city</label>
              <input type="text" formControlName="city" class="form-control">
            </div>
            <div class="col-6">
              <label for="">state</label>
              <input type="text" formControlName="state" class="form-control">
            </div>
            <div class="col-6">
              <label class="required" for="">emailId</label>
              <input type="text" formControlName="emailId" class="form-control">
              <div class="text-danger">
                @if (employeeForm.controls['emailId'].touched) {
                  @if (employeeForm.controls['emailId'].errors?.['required']) {
                    <span>Email is required</span>
                  }
                  @if (employeeForm.controls['emailId'].errors?.['email']) {
                    <span>Invalid email address</span>
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="">mobileNo</label>
              <input type="text" formControlName="mobileNo" class="form-control">
            </div>
            <div class="col-6">
              <label class="required" for="">Pin Code</label>
              <input type="text" formControlName="pinCode" class="form-control">
              <div class="text-danger">
                @if (employeeForm.controls['pinCode'].touched) {
                    @if (employeeForm.controls['pinCode'].errors?.['required']){
                      <span>Pin code is required</span>
                    }
                    @if (employeeForm.controls['pinCode'].value && employeeForm.controls['pinCode'].errors?.['minlength']) {
                      <span>Min 6 characters required</span>
                  }
                }
              </div>
            </div>
            <div class="col-12">
              <label for="">address</label>
               <textarea formControlName="address" class="form-control"></textarea>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondary" type="button" (click)="reset()">Reset</button>
            </div>
            <div class="col-6 text-center">
              @if (employeeForm.controls['empId'].value=='1') {
              <button class="btn btn-success" type="button" [disabled]="employeeForm.invalid" (click)="onSave()">Save</button>
              }@else {
              <button class="btn btn-warning" type="button" [disabled]="employeeForm.invalid" (click)="onUpdate()">UpDate</button>
              }
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet/>